$foreground-primary: #171a1f;
$foreground-secondary: #71747a;
$foreground-tertiary: #9d9fa3;
$foreground-quaternary: #c8c9cc;
$foreground-inverted: #fffafa;

$background-primary: #ffffff;
$background-secondary: #f2f3f5;

$accent-positive: #40b855;
$accent-negative: #f23051;

$primary: #248bf2;
$secondary: #f2f3f5;
